@page
@model IndexModel
@inject Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler OpenIdConnectHandler
@inject Microsoft.Extensions.Options.IConfigureOptions<Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectOptions> OpenIdConnectOptions
@{
    ViewData["Title"] = "Home page";
    ViewData["Authority"] = OpenIdConnectHandler.Options.Authority;
    ViewData["ClientId"] = OpenIdConnectHandler.Options.ClientId;
    ViewData["ClientSecret"] = OpenIdConnectHandler.Options.ClientSecret;
    ViewData["RequireHttpsMetadata"] = OpenIdConnectHandler.Options.RequireHttpsMetadata;
    ViewData["GetClaimsFromUserInfoEndpoint"] = OpenIdConnectHandler.Options.GetClaimsFromUserInfoEndpoint;
}

<div class="text-center">
    <h1>OpenIdConnect Properties</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Property</td>
                <td>Value</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Authority</td>
                <td>ViewData["Authority"]</td>
            </tr>
            <tr>
                <td>ClientId</td>
                <td>ViewData["ClientId"]</td>
            </tr>
            <tr>
                <td>ClientSecret</td>
                <td>ViewData["ClientSecret"]</td>
            </tr>
            <tr>
                <td>RequireHttpsMetadata</td>
                <td>ViewData["RequireHttpsMetadata"]</td>
            </tr>
            <tr>
                <td>GetClaimsFromUserInfoEndpoint</td>
                <td>ViewData["GetClaimsFromUserInfoEndpoint"]</td>
            </tr>
        </tbody>
    </table>
</div>
