@page "/"
<h1>Sample Application</h1>
<p>
    This simple application is designed to demonstrate how to use the
    EDennis.AspNetCore.Base library.  This library provides some tools
    to make building and testing microservice-like applications easier.
</p>
<p>
    Once the application is configured, you will be able to:
    <ul>
        <li>
            Navigate to the PersonSearch page to query, page through, and
            modify a list of persons, each of whom have a few addresses.
        </li>
        <li>
            Run unit/integration tests on the underlying repository classes
            and REST Service API, while automatically resetting the database
            between tests.
        </li>
    </ul>
</p>
