@page
@model EDennis.Samples.AspNetCore.Identity.Pages.AdminOnlyModel
@{
    ViewData["Title"] = "AdminOnly";
}

<h1>AdminOnly</h1>
<h2>User: @Model.UserName</h2>
<table class="table">
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model.Claims) {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </tbody>
</table>
